MES.module.BLL/Connected Services/PService/PService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetWORKPLACE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rail1" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWORKPLACEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWORKPLACEResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ToMes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="order_no" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ToMesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ToMesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ToGX">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="order_no" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ToGXResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ToGXResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetWORKPLACESoapIn">
    <wsdl:part name="parameters" element="tns:GetWORKPLACE" />
  </wsdl:message>
  <wsdl:message name="GetWORKPLACESoapOut">
    <wsdl:part name="parameters" element="tns:GetWORKPLACEResponse" />
  </wsdl:message>
  <wsdl:message name="ToMesSoapIn">
    <wsdl:part name="parameters" element="tns:ToMes" />
  </wsdl:message>
  <wsdl:message name="ToMesSoapOut">
    <wsdl:part name="parameters" element="tns:ToMesResponse" />
  </wsdl:message>
  <wsdl:message name="ToGXSoapIn">
    <wsdl:part name="parameters" element="tns:ToGX" />
  </wsdl:message>
  <wsdl:message name="ToGXSoapOut">
    <wsdl:part name="parameters" element="tns:ToGXResponse" />
  </wsdl:message>
  <wsdl:portType name="PServiceSoap">
    <wsdl:operation name="GetWORKPLACE">
      <wsdl:input message="tns:GetWORKPLACESoapIn" />
      <wsdl:output message="tns:GetWORKPLACESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ToMes">
      <wsdl:input message="tns:ToMesSoapIn" />
      <wsdl:output message="tns:ToMesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ToGX">
      <wsdl:input message="tns:ToGXSoapIn" />
      <wsdl:output message="tns:ToGXSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PServiceSoap" type="tns:PServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWORKPLACE">
      <soap:operation soapAction="http://tempuri.org/GetWORKPLACE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ToMes">
      <soap:operation soapAction="http://tempuri.org/ToMes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ToGX">
      <soap:operation soapAction="http://tempuri.org/ToGX" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PServiceSoap12" type="tns:PServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWORKPLACE">
      <soap12:operation soapAction="http://tempuri.org/GetWORKPLACE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ToMes">
      <soap12:operation soapAction="http://tempuri.org/ToMes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ToGX">
      <soap12:operation soapAction="http://tempuri.org/ToGX" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PService">
    <wsdl:port name="PServiceSoap" binding="tns:PServiceSoap">
      <soap:address location="http://172.16.1.37/WebSer/PService.asmx" />
    </wsdl:port>
    <wsdl:port name="PServiceSoap12" binding="tns:PServiceSoap12">
      <soap12:address location="http://172.16.1.37/WebSer/PService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>